<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">

      <mat-form-field>
          <input
          matInput
          type="text"
          name="title"
          ngModel
          required
          minlength="3"
          placeholder="Post Title"
          #title="ngModel">
          <mat-error *ngIf="title.invalid"> Please enter a title! </mat-error>
        </mat-form-field>

        <mat-form-field>
          <textarea
          matInput
          rows="1"
          name="content"
          ngModel
          required
          placeholder="Post Content"
          #content="ngModel"> </textarea>
          <mat-error *ngIf="content.invalid"> Please enter a content! </mat-error>
          </mat-form-field>

          <button
          mat-raised-button
          color="primary"
          type="submit"> Save Post </button>

  </form>

</mat-card>
